# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
ch2/practice6/1.html
ch2/practice7/20171009.txt
ch3/crawl-pic-practice/crawl.log
ch3/crawl-pic-practice/pic/
ch3/crawl-pic/crawl.log
ch3/vipstation/crawl.log
ch3/vipstation/pic/
ch3/vipstation/pic1/
ch3/vipstation/vipstation-linux.go
my.db
